#outerContainer {
  width: 100%;
  height:100vh;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
    /* width: 100%;
    height:100%; */
    background-color: #333;  
  }
  #item {
    fill: #457b9d;
    touch-action: none;
    user-select: none;
  }
  
  #item:hover {
    cursor: pointer;
    border-width: 20px;
    fill: #a8dadc;

  }

  #item:active {
    fill: #f1faee;
  }

  .gridLines {
    stroke:rgb(255,255,255);
    stroke-width:2
  }